<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sungang.dao.MetaDataDao">
    <resultMap type="com.sungang.model.MetaData" id="metaMap">
        <!-- property对应实体类的属性名称，column为数据库结果集的列的名称 -->
        <id property="id" column="id" />
        <result property="minStep" column="min_step"/>
        <result property="maxStep" column="max_step"/>
        <result property="sex" column="sex"/>
        <result property="tagDes" column="tag_des"/>
        <result property="tag" column="tag"/>
    </resultMap>
    <select id="getDataByNameAndWordStep" resultMap="metaMap">
        select * from SWS_META_TEST_DATA where sex = #{sex} and #{wordStep} between min_step AND max_step
    </select>

    <select id="getDataByopenId" parameterType="java.lang.Integer" resultMap="metaMap">
        select * from SWS_META_TEST_DATA where id = #{id}
    </select>

</mapper>